<main class="main-card">

  <section class="secao">
    <div>
      <mat-icon class="icon">light_mode</mat-icon>
      <div>
        <h1>Deus sempre com você em todo lugar! </h1>
        <p>Suas salas de aulas em todo lugar que você for!</p>
        <div class="button-main">
            <button mat-flat-button  class="buttons" mat-button  (click)="openLive()">Fazer Login</button>
          <button mat-flat-button class="buttons" mat-button   (click)="openAdmin()"> Admin</button>
          <button mat-flat-button class="buttons" mat-button  (click)="openRegister()">Fazer Cadastro</button>
        </div>
      </div>

    </div>
  </section>
  </main>



