<div class="menu">
  <button color="sucesso" mat-raised-button [matMenuTriggerFor]="menu">Menu</button>
  <mat-menu #menu="matMenu" class="content-menu">
    <button [routerLink]="['login']" mat-menu-item>Login</button>
    <button [routerLink]="['cadastrousuario']" mat-menu-item>Cadastrar usuário</button>
    <button [routerLink]="['listagemusuarios']" mat-menu-item>Listar Usuários</button>
    <button [routerLink]="['dadosproprios']" mat-menu-item>Dados Proprios</button>
    <button [routerLink]="['biblia']" mat-menu-item>Ler Versículo</button>
  </mat-menu>


</div>
