<mat-card class="card-main">
    <mat-card-title>Login</mat-card-title>
    <mat-form-field class="form-field">
        <mat-label>Login</mat-label>
        <input matInput [(ngModel)]="admin.email" >
    </mat-form-field>
    <mat-form-field class="form-field">
        <mat-label>Password</mat-label>
        <input matInput type="password" [(ngModel)]="admin.senha">
    </mat-form-field>
    <mat-card-actions>
        <button mat-raised-button color="primary" (click)="entrar()">Entrar!</button>
    </mat-card-actions>
</mat-card>
